@font-face {
  font-family: "iconfont"; /* Project id 2612877 */
  src: url('iconfont.woff2?t=1625383327897') format('woff2'),
       url('iconfont.woff?t=1625383327897') format('woff'),
       url('iconfont.ttf?t=1625383327897') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jishufuwu:before {
  content: "\e602";
}

.icon-zengjiatuceng:before {
  content: "\ec39";
}

.icon-fuzhi:before {
  content: "\ec3a";
}

.icon-baocun:before {
  content: "\ec3b";
}

.icon-ditudingwei:before {
  content: "\ec3c";
}

.icon-shujuruku:before {
  content: "\ec3d";
}

.icon-gongjutiao:before {
  content: "\ec3e";
}

.icon-shujuku:before {
  content: "\ec3f";
}

.icon-shujudaochu:before {
  content: "\ec40";
}

.icon-shujudaoru:before {
  content: "\ec41";
}

.icon-zhanghao:before {
  content: "\ec4b";
}

.icon-shujushangchuan:before {
  content: "\ec4d";
}

.icon-guanli:before {
  content: "\ec4e";
}

.icon-shujuxiazai:before {
  content: "\ec4f";
}

.icon-daoru:before {
  content: "\ec50";
}

.icon-daochu:before {
  content: "\ec51";
}

.icon-qingchu:before {
  content: "\ec52";
}

.icon-zhifubao:before {
  content: "\e623";
}

.icon-java:before {
  content: "\e6ff";
}

.icon-weixin:before {
  content: "\e64f";
}

.icon-Linux:before {
  content: "\ec9f";
}

.icon-github:before {
  content: "\e66f";
}

.icon-QQ:before {
  content: "\e7e7";
}

.icon-icon-sql:before {
  content: "\e618";
}

.icon-shujugengxin:before {
  content: "\ec30";
}

.icon-jisuanji:before {
  content: "\ec31";
}

.icon-dingwei:before {
  content: "\ec32";
}

.icon-tianjiashuju:before {
  content: "\ec33";
}

.icon-shujuchuli:before {
  content: "\ec34";
}

.icon-shuchupdf:before {
  content: "\ec35";
}

.icon-dakaiwendang:before {
  content: "\ec36";
}

.icon-guanbiwendang:before {
  content: "\ec37";
}

.icon-wodewendang:before {
  content: "\ec38";
}

